:root {
  --primary: #0093E9;
  --white: #ffffff;
}

html {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 470vh;
}

* {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: auto;
  background-color: #0093E9;
  background-image: linear-gradient(207deg, #0093E9 0%, #c668cc 35%);
}

/* Sections */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #e0ffff;
}

section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}

section:nth-child(3) {
  color: #e0ffff;
}

section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}

section .container {
  min-height: 100vh;
}

section h1 {
  font-size: 3rem;
  /* margin: 20px; */
}

section h2 {
  /* position: relative; */
  top: 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
  min-height: 60vh;
}

section .text-container .text-box {
  /* width: 50vw; */
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
  margin-left: 100px;
  max-width: 900px;
}

section .text-container .text-box p {
  height: auto;
  vertical-align: middle;
  min-width: 40vw;
  /* max-height: 200px; */
  /* margin: 20px; */
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* First page */
.title-name {
  font-size: 4rem;
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #FFCC70 0%, #BF4E8C 66%, #7431ae 100%);  
}

.title {
  color: white;
  margin: 0;
  background: transparent;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: slideInLeft;
}

.title-2 {
  color: white;
  opacity: 0;
  height: 70px;
  margin: 10px 0 10px 0;
  background: transparent;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: slideInLeft;
}

.first-page {
  /* display: block; */
  /* position: absolute; */
  /* left: 15vw; */
  /* height: 300px; */
}

.btn-more {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  opacity: 0;
  color: rgb(30, 23, 155);
  margin: 15px 0 0 0;
  border: none;
  box-shadow: rgba(14, 72, 144, 0.35) 0px 1px 2px;
  transition: all 150ms ease-in-out;
  animation-name: fade-bottom;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  transition: 350ms;
}

.btn-more:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 1px 1px 25px 10px rgba(44, 47, 199, 0.4);
}

.btn-more:before {
  content: "";
  /* position: absolute; */
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 350ms;
}

.btn-more:hover:before {
  left: 100%;
}

/* About me page */
#about {
  max-height: max-content;
}

.about-title {
  /* position: relative; */
  text-align: center;
  width: 100%;
  /* top: -100px; */
}

.text-container {
  align-items: center;
}

.resume {
  display: flex;
  justify-content: center;
}

.resume-btn {
  margin-top: 10px;
}

h2 {
  color: rgb(26, 67, 124);
}

.prof-pic {
  max-width: 250px;
  max-height: auto;
  border-radius: 50%;
}

.resume-btn,
.see-live,
.source-code,
.proj2-src,
.proj2-live,
.proj3-live,
.proj3-src,
.contact-btn
 {
  text-transform: uppercase;
  text-decoration: none;
  border: 5px solid rgb(146, 148, 248);
  /* position: absolute; */
  left: 40%;
  top: 100%;
  overflow: hidden;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  opacity: 0;
  color: rgb(33, 25, 190);
  margin: 0;
  border: none;
  box-shadow: rgba(14, 72, 144, 0.35) 0px 1px 2px;
  transition: all 150ms ease-in-out;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  transition: 550ms;

}

.resume-btn:hover, 
.see-live:hover,
.source-code:hover,
.proj2-src:hover,
.proj2-live:hover,
.proj3-live:hover,
.proj3-src:hover,
.contact-btn:hover
{
  cursor: pointer;
  box-shadow: 1px 1px 20px 10px rgba(44, 47, 199, 0.4);
}

.resume-btn:before,
.see-live:before,
.source-code:before,
.proj2-src:before,
.proj2-live:before,
.proj3-live:before,
.proj3-src:before,
.contact-btn:before 
 {
  content: "";
  /* position: absolute; */
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 350ms;
}

.resume-btn:hover:before, 
.see-live:hover:before,
.source-code:hover:before,
.proj2-src:hover:before,
.proj2-live:hover:before,
.proj3-live:hover:before,
.proj3-src:hover:before,
.contact-btn:hover:before {
    left: 100%;
  }

/* .projects-container {
  display: flex;
  min-height: 800px;
} */

/* Projects */
#projects {
  display: flex;
  height: 100vh;
}

.project-title {
  font-size: 1.5rem;
}

b {
  padding-left: 20px;
}

.projects-title {
  margin-top: 20px;
  color: white;
}

.projects-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 600px;
}

/* Project 1 */
.project-1 {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22vh;
  max-width: 1300px;
  margin-top: 30px;
  /* position: relative; */
  /* height: 700px; */
  width: 80vw;
  /* border: 3px solid red; */
  /* top: 180px; */
}

.project1-desc {
  /* position: absolute; */
  /* left: -10vw;
  top: -200px; */
  max-width: 500px;
  /* position: static; */
  width: 40vw;
  /* height: 25vw; */
}

.project-p {
  font-size: 1.5vw;
}

.see-live {
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
  /* left: 6vw;
  top: 390px; */
}

.source-code {
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
  margin-left: 10px;
  /* left: 20vw;
  top: 390px; */
}

.project1-img {
  align-self: center;
  /* position: absolute; */
  left: 50vw;
  /* top: -200px; */
  /* max-width: 50vw; */
  overflow: hidden;
}

.proj-img {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  width: 25vw;
  height: auto;
}

h3 p {
  font-size: xx-large;
}

/* Project 2 */
.project-2 {
  /* position: absolute; */
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75vh;
  margin-top: 60px;
  max-width: 1300px;
  /* margin-top: 30px; */
  /* position: relative; */
  /* height: 700px; */
  width: 80vw;
}

.project2-desc {
  /* position: absolute; */
  max-width: 500px;
  /* position: static; */
  width: 40vw;
}

.project2-img {
  /* position: absolute; */
  left: 4vw;
  top: 300px;
  max-width: 50vw;
  align-self: center;
  overflow: hidden;
}

.proj2-img {
  /* width: 30vw;
  min-width: 180px;
  height: auto;
  max-height: 300px; */
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  width: 25vw;
  height: auto;
}

.proj2-live {
  /* left: 6vw;
  top: 340px; */
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
}

.proj2-src {
  /* left: 20vw;
  top: 340px; */
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
  margin-left: 10px;
}

/* Project 3 */
.project-3 {
  /* position: absolute; */
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 124vh;
  margin-top: 60px;
  max-width: 1300px;
  /* margin-top: 30px; */
  /* position: relative; */
  /* height: 700px; */
  width: 80vw;
}

.project3-desc {
  /* position: absolute; */
  /* left: -50vw;
  top: 800px;
  max-width: 40vw; */
  max-width: 500px;
  /* position: static; */
  width: 40vw;
  margin-left: 40px;
}

.project3-img {
  /* position: absolute; */
  left: 4vw;
  top: 800px;
  max-width: 50vw;
  overflow: hidden;
}

.proj3-img {
  /* width: 35vw;
  height: auto;
  object-fit: fill; */
  max-width: 650px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  width: 25vw;
  height: auto;
}

.proj3-live {
  /* left: 6vw;
  top: 340px; */
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
}

.proj3-src {
  /* left: 20vw;
  top: 340px; */
  max-width: 150px;
  max-height: 50px;
  height: 5vh;
  width: 10vw;
  margin-top: 25px;
  margin-left: 10px;
}

.project-p {
  font-size: 1.5vw;
}

/* Contact */
#contact {
  position: relative;
  flex-direction: column;
  top: 110vh;
  background-color: #e0ffff;
  min-height: 100px;
  height: 800px;
  width: 100%;
}

.contact-container {
  margin-top: 70px;
  height:300px;
  max-height: 300px;
}

.contact-title {
/* position: absolute; */
left: 30%;
top: -190px
}

.contact-p {
  height: 100px;
  font-size:3vw;
  color: black;
  margin-top: 80px;
}

.contact-button {
  display: flex;
  justify-content: center;
}

.social-links {
  /* position: absolute; */
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 80px;
  /* left: 38%; */
  /* top: 900px; */
  gap: 20px;
}

@media (max-width: 680px) {
  .project-2 {
    top: 80vh;
  }
}

@media (max-width: 720px) {
  .see-live,
  .source-code,
  .proj2-live,
  .proj2-src,
  .proj3-live,
  .proj3-src
   {
    width: 5.5rem;
  }
}

@media (max-width: 895px) {
  section .text-container .text-box {
    margin: 0;
    width: 50vw;
  }

  .about-title {
    height: 100px;
    margin-top: 20px;
  }

  #about {
    min-height: 100vh;
  }

  .prof-pic {
    height: auto;
    width: 150px;
  }

  .btn-more {
    /* position: absolute; */
    left: 40%;
  }

  .first-page {
    left: 5vw;
  }
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }

  section {
    max-height: 100vh;
  }

  .about-section {
    width: 100vw;
  }

  .project-p {
    font-size: 1.1rem;
  }

  /* .proj-img,
  .proj2-img,
  .proj3-img {
    display: none;
  } */

  section #projects {
    min-height: 100vh;
  }

}

@media (min-width: 900px) {
  .about-title {
    margin-top: 40px;
  }
  
  .project-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .contact-p {
    font-size:xx-large;
  }
}

@media (max-width: 1277px) {
  .see-live,
  .source-code {
    margin-top: 20px;
  }
}

@media (min-width: 1600px) {
  .project-p {
    font-size: 1.5rem;
  }
}

.reveal {
  /* position: relative; */
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@media (max-width: 1630px) {
  .project3-desc {
    margin: 0;
  }
}

@keyframes slideInLeft {
    from { opacity: 0; }
      to { opacity: 1; }
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-bottom {
  from { opacity: 0; }
    to { opacity: 1; }
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
